@media screen and (max-width: 1024px) {
    body {
        font-size: 2em;
    }

    a {
        font-size: 30px;
        font-weight: bolder;
    }
}

@media screen and (max-width: 768px) {
    html {
        margin: 0 auto;
        font-size: 10px;
    }

    #myCarousel {
        width: 100%;
    }

    .foto img {
        margin-top: 20px;
    }

    footer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 414px) {
    .fotomain1 {
        width: 100%;
    }
}
